/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 70rem;
  }
}

/* Main marketing message and sign up button */
.main {
  min-height: 60em;
  border-bottom: .05rem solid #e5e5e5;
}

.nav-tabs>a:hover{
  color: #000;
}


.nav-tabs>a:active{
  color: #000;
}

.news-group li{
  background-color: initial;
  display: inline-block;
}

.news-row>td:first-child{
  width: 7em;
}

.news-img {
  height: 7em; 
  cursor: pointer;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 1rem;
  }
}

#leadstyle:hover {
  transition: opacity 1s linear;
  background: #C0C0C0;
  opacity: 0.2;
  border-radius: 2px;
}